<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ComicPromo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,166}</string>
                <key>spriteSourceSize</key>
                <string>{188,166}</string>
                <key>textureRect</key>
                <string>{{381,313},{188,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>but_social0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{849,341},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>but_social0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{845,413},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,378}</string>
                <key>spriteSourceSize</key>
                <string>{480,378}</string>
                <key>textureRect</key>
                <string>{{1,1},{480,378}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>logo_brillo_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,12}</string>
                <key>spriteSourceSize</key>
                <string>{10,12}</string>
                <key>textureRect</key>
                <string>{{621,603},{10,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_brillo_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,110}</string>
                <key>spriteSourceSize</key>
                <string>{56,110}</string>
                <key>textureRect</key>
                <string>{{573,623},{56,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>logo_brillo_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,140}</string>
                <key>spriteSourceSize</key>
                <string>{96,140}</string>
                <key>textureRect</key>
                <string>{{921,1},{96,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_brillo_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{142,142}</string>
                <key>textureRect</key>
                <string>{{647,803},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_brillo_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,146}</string>
                <key>spriteSourceSize</key>
                <string>{144,146}</string>
                <key>textureRect</key>
                <string>{{687,553},{144,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>logo_brillo_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,146}</string>
                <key>spriteSourceSize</key>
                <string>{156,146}</string>
                <key>textureRect</key>
                <string>{{687,405},{156,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_brillo_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,118}</string>
                <key>spriteSourceSize</key>
                <string>{116,118}</string>
                <key>textureRect</key>
                <string>{{867,699},{116,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>logo_brillo_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,112}</string>
                <key>spriteSourceSize</key>
                <string>{132,112}</string>
                <key>textureRect</key>
                <string>{{1,813},{132,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>logo_brillo_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,114}</string>
                <key>spriteSourceSize</key>
                <string>{138,114}</string>
                <key>textureRect</key>
                <string>{{571,341},{138,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>logo_brillo_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,112}</string>
                <key>spriteSourceSize</key>
                <string>{120,112}</string>
                <key>textureRect</key>
                <string>{{573,481},{120,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>logo_brillo_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,112}</string>
                <key>spriteSourceSize</key>
                <string>{126,112}</string>
                <key>textureRect</key>
                <string>{{533,813},{126,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>logo_brillo_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,122}</string>
                <key>spriteSourceSize</key>
                <string>{130,122}</string>
                <key>textureRect</key>
                <string>{{213,813},{130,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>logo_brillo_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,128}</string>
                <key>spriteSourceSize</key>
                <string>{114,128}</string>
                <key>textureRect</key>
                <string>{{417,813},{114,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_brillo_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,132}</string>
                <key>spriteSourceSize</key>
                <string>{96,132}</string>
                <key>textureRect</key>
                <string>{{115,813},{96,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_brillo_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,130}</string>
                <key>spriteSourceSize</key>
                <string>{78,130}</string>
                <key>textureRect</key>
                <string>{{337,813},{78,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_brillo_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,126}</string>
                <key>spriteSourceSize</key>
                <string>{64,126}</string>
                <key>textureRect</key>
                <string>{{845,485},{64,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_brillo_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,116}</string>
                <key>spriteSourceSize</key>
                <string>{52,116}</string>
                <key>textureRect</key>
                <string>{{573,681},{52,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_brillo_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,82}</string>
                <key>spriteSourceSize</key>
                <string>{40,82}</string>
                <key>textureRect</key>
                <string>{{879,817},{40,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_brillo_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,54}</string>
                <key>spriteSourceSize</key>
                <string>{20,54}</string>
                <key>textureRect</key>
                <string>{{987,699},{20,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_brillo_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,34}</string>
                <key>spriteSourceSize</key>
                <string>{18,34}</string>
                <key>textureRect</key>
                <string>{{573,603},{18,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>logo_brillo_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,16}</string>
                <key>spriteSourceSize</key>
                <string>{10,16}</string>
                <key>textureRect</key>
                <string>{{609,603},{10,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo_brillo_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,94}</string>
                <key>spriteSourceSize</key>
                <string>{46,94}</string>
                <key>textureRect</key>
                <string>{{917,425},{46,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>logo_brillo_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,64}</string>
                <key>spriteSourceSize</key>
                <string>{20,64}</string>
                <key>textureRect</key>
                <string>{{571,313},{20,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>logo_brillo_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,38}</string>
                <key>spriteSourceSize</key>
                <string>{18,38}</string>
                <key>textureRect</key>
                <string>{{647,603},{18,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>logo_brillo_0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,14}</string>
                <key>spriteSourceSize</key>
                <string>{8,14}</string>
                <key>textureRect</key>
                <string>{{637,313},{8,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mainmenu_saveslot_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,170}</string>
                <key>spriteSourceSize</key>
                <string>{272,170}</string>
                <key>textureRect</key>
                <string>{{647,1},{272,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mainmenu_saveslot_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,166}</string>
                <key>spriteSourceSize</key>
                <string>{272,166}</string>
                <key>textureRect</key>
                <string>{{647,173},{272,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mainmenu_saveslot_close_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,30}</string>
                <key>spriteSourceSize</key>
                <string>{160,30}</string>
                <key>textureRect</key>
                <string>{{687,341},{160,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mainmenu_saveslot_close_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,30}</string>
                <key>spriteSourceSize</key>
                <string>{160,30}</string>
                <key>textureRect</key>
                <string>{{687,373},{160,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mainmenu_saveslot_confirmdelete_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,60}</string>
                <key>spriteSourceSize</key>
                <string>{58,60}</string>
                <key>textureRect</key>
                <string>{{627,681},{58,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mainmenu_saveslot_confirmdelete_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{627,743},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mainmenu_saveslot_delete_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{791,791},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mainmenu_saveslot_delete_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{921,817},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mainmenu_saveslot_icons_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,46}</string>
                <key>spriteSourceSize</key>
                <string>{52,46}</string>
                <key>textureRect</key>
                <string>{{911,563},{52,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_creditschain_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,154}</string>
                <key>spriteSourceSize</key>
                <string>{262,154}</string>
                <key>textureRect</key>
                <string>{{381,1},{262,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_creditschain_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,154}</string>
                <key>spriteSourceSize</key>
                <string>{262,154}</string>
                <key>textureRect</key>
                <string>{{381,157},{262,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_startchain_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,284}</string>
                <key>spriteSourceSize</key>
                <string>{328,284}</string>
                <key>textureRect</key>
                <string>{{1,483},{328,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>menu_startchain_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,284}</string>
                <key>spriteSourceSize</key>
                <string>{328,284}</string>
                <key>textureRect</key>
                <string>{{287,483},{328,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>news_alert_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,88}</string>
                <key>spriteSourceSize</key>
                <string>{90,88}</string>
                <key>textureRect</key>
                <string>{{687,699},{90,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>news_alert_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,86}</string>
                <key>spriteSourceSize</key>
                <string>{88,86}</string>
                <key>textureRect</key>
                <string>{{925,611},{88,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>news_alert_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,84}</string>
                <key>spriteSourceSize</key>
                <string>{88,84}</string>
                <key>textureRect</key>
                <string>{{835,613},{88,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>news_alert_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,86}</string>
                <key>spriteSourceSize</key>
                <string>{88,86}</string>
                <key>textureRect</key>
                <string>{{791,851},{88,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>news_alert_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,88}</string>
                <key>spriteSourceSize</key>
                <string>{90,88}</string>
                <key>textureRect</key>
                <string>{{777,699},{90,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>news_alert_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,88}</string>
                <key>spriteSourceSize</key>
                <string>{92,88}</string>
                <key>textureRect</key>
                <string>{{917,473},{92,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>news_alert_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,90}</string>
                <key>spriteSourceSize</key>
                <string>{94,90}</string>
                <key>textureRect</key>
                <string>{{921,333},{94,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>news_alert_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,92}</string>
                <key>spriteSourceSize</key>
                <string>{96,92}</string>
                <key>textureRect</key>
                <string>{{921,239},{96,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>news_alert_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,94}</string>
                <key>spriteSourceSize</key>
                <string>{96,94}</string>
                <key>textureRect</key>
                <string>{{921,143},{96,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mainmenu_spritesheet_32_1-hd.png</string>
            <key>size</key>
            <string>{1018,946}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b2dc3b877f2cf08734742f8c3b64f85:7f40d34a4cd88634c1f25074e55bc303:7f48243f190b43b2f6d88c5663bde954$</string>
            <key>textureFileName</key>
            <string>mainmenu_spritesheet_32_1-hd.png</string>
        </dict>
    </dict>
</plist>
