<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MapBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1280,1020}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,1020}}</string>
                <key>sourceSize</key>
                <string>{1280,1020}</string>
            </dict>
            <key>achievement_icon_off_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1848,1764},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1848,1680},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,1892},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,1808},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,1724},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,1640},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,1868},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,1868},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,1868},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,1868},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,1868},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,1868},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,1868},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,1784},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,1784},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,1784},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,1784},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,1784},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,1784},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,1784},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,1700},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,1700},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,1616},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,1700},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,1616},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,1700},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,1616},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,1700},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,1616},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,1700},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0100.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,1616},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,1700},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,1616},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,1616},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{1900,1596},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{1900,1512},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{1900,1428},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{1900,1344},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{1900,1260},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{1900,1176},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,1092},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,1556},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,1008},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,924},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,840},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,756},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,672},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,588},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,504},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,1834},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,1472},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0121.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,1388},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,1304},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0123.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,1220},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,1834},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0125.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,1136},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0126.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,1020},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0127.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,420},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0128.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,1900},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0129.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,1900},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0130.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1900},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0131.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1900},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0132.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1900},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0133.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1900},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0134.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1900},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0135.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,336},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0136.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1900},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0137.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,252},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0138.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1900},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0139.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,168},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0140.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,1900},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0141.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,84},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0142.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1900},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0143.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,0},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>achievement_icon_off_0144.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1900},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>encyclopedia_creep_0237.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,1660},{174,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,162}}</string>
                <key>sourceSize</key>
                <string>{174,162}</string>
            </dict>
            <key>heroroom_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,0},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>heroroom_bigPortraits_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,1376},{240,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,336}}</string>
                <key>sourceSize</key>
                <string>{240,336}</string>
            </dict>
            <key>heroroom_bigPortraits_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,1376},{240,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,336}}</string>
                <key>sourceSize</key>
                <string>{240,336}</string>
            </dict>
            <key>heroroom_bigPortraits_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,1136},{240,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,336}}</string>
                <key>sourceSize</key>
                <string>{240,336}</string>
            </dict>
            <key>heroroom_bigPortraits_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,1136},{240,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,336}}</string>
                <key>sourceSize</key>
                <string>{240,336}</string>
            </dict>
            <key>heroroom_bigPortraits_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1660},{240,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,336}}</string>
                <key>sourceSize</key>
                <string>{240,336}</string>
            </dict>
            <key>heroroom_bigPortraits_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1660},{240,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,336}}</string>
                <key>sourceSize</key>
                <string>{240,336}</string>
            </dict>
            <key>heroroom_bigPortraits_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1660},{240,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,336}}</string>
                <key>sourceSize</key>
                <string>{240,336}</string>
            </dict>
            <key>inaps_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1020},{1136,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>upgrade_bar_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,1020},{8,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,440}}</string>
                <key>sourceSize</key>
                <string>{8,440}</string>
            </dict>
            <key>upgrade_bar_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,0},{8,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,440}}</string>
                <key>sourceSize</key>
                <string>{8,440}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map_spritesheet_16_na-hd.png</string>
            <key>size</key>
            <string>{2012,1984}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:789c1895f25b15e6ce5f482bd3dc8fde$</string>
            <key>textureFileName</key>
            <string>map_spritesheet_16_na-hd.png</string>
        </dict>
    </dict>
</plist>
